#header {
    text-align: center;
    padding: 10px;
}

#quizbox {
    border: 3px solid black;
    text-align: center;
    box-sizing: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;

}

#results {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

#score {
    text-align: left;
}

#timer {
    text-align: right;
    text-align: start;
    right: 20px;
}